[Unit]
Description=Run Hardware Power Management & Safe Shutdown daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/xPWR.sh /dev/gpiochip0 GPIO4 GPIO17

Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
